* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

$bg_color: hsl(217, 54%, 11%);
$card-bg: rgb(20, 37, 61);
$line: rgb(47, 65, 91);
$soft_cyan: #8bacda;
$cyan: #00fff7;

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background: $bg_color;
  font-size: 1.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

p {
  font-size: 1.6rem;
  color: $soft_cyan;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
}

/*===========

GLOBAL STYLES

============*/

.container {
  max-width: 345px;
  width: 100%;
  background-color: $card-bg;
  border-radius: 2rem;
  margin-bottom: 6rem;

  .main-image {
    position: relative;

    img {
      width: 88%;
      margin: 2rem 6% 1.7rem 6%;
      border-radius: 1.5rem;
    }

    div {
      position: absolute;
      top: 0;
      background-color: rgba(0, 255, 247, 0.6);
      width: 88%;
      margin: 2rem 6% 1.25rem 6%;
      height: 89%;
      z-index: 999;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius: 1.5rem;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      img {
        position: absolute;
        top: 40%;
        right: 31%;
        height: 48px;
        width: 48px;
        transform: translate(-37%, -37%);
      }
    }
  }
}

.title-description {
  padding: 0rem 0.5rem 0rem 2.07rem;
  h1,
  p {
    justify-self: flex-start;
  }

  h1 {
    padding: 0rem 0rem 2rem 0rem;
    font-size: 2.2rem;
    color: white;
    display: inline-block;
    &:hover {
      color: $cyan;
      cursor: pointer;
    }
  }

  p {
    padding-bottom: 1rem;
    font-size: 1.8rem;
  }
}

.price-days {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $line;
  margin-left: 2.07rem;
  margin-right: 2.07rem;

  .price,
  .days {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .price {
    color: $cyan;

    img {
      margin-right: 0.5rem;
      width: 11px;
      height: 18px;
    }
  }

  .days {
    color: $soft_cyan;

    img {
      margin-right: 0.5rem;
      width: 17px;
      height: 17px;
    }
  }
}

.creator {
  display: flex;
  align-items: center;
  padding: 1.2rem 2.07rem 3rem 2.07rem;

  img {
    width: 33px;
    height: 33px;
    border: 0.5px solid white;
    border-radius: 50%;
  }
  p {
    padding-left: 1.8rem;

    span {
      color: white;
      &:hover {
        color: $cyan;
        cursor: pointer;
      }
    }
  }
}

/*


- Mobile: 375px
- Desktop: 1440px



@media (min-width: 500px) {
  .container {
    width: 450px;
    margin: 0 auto 1rem;
  }
}

*/
